.main14{
    padding-top:100px;
      margin-left:25%;
      margin-right:5%;
      height: 1000px;
      overflow: scroll;
     
}
.main15{
    padding-top:100px;
      margin-left:25%;
      margin-right:5%;
      height: 400px;
      overflow: scroll;
     
}

.lay1{
    text-align: left;
}
.lay2{
text-align:right;
}